{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container" data-page-name="approveTrackerUserJourney">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            The tracker has been sent back to the delivery partner for review
          </h1>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body-lead">
              Academy of Medical Sciences	has been notified via email.
            </p>
          </div>
        </div>
        <h2 class="govuk-heading-m">What next?</h2>
        <ul class="govuk-list govuk-list-links">
          <li><a href="index">Go back to all financial trackers</a></li>
          <li><a href="#">Back to dashboard</a></li>
          <li><a href="mailto:ty.fairclough@digi2al.co.uk?subject=feedback">Provide feedback</a></li>
          </ul>
</div>
{% endblock %}
