{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">



    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Programme added
    </h1>
    <div class="govuk-panel__body">
      Your programme ID<br><strong>HDJ2123F</strong>
    </div>
    </div>
    </div>
    </div>
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <p class="govuk-body-lead">You can now add activities to report financial data.</p>
      <h1 class="govuk-heading-l">
        What would you like to do next?
      </h1>
    <ul class="govuk-list">
      <li><a href="../activity/add/">Add an activity for this programme</a></li>
      <li><a href="index.html">Add another programme</a></li>
      <li><a href="../index">View all programmes</a></li>
    </ul>

</div>
</div>
</div>

  </main>
</div>
{% endblock %}
