{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container" data-page-name="trackerDetailsReview">
  <a href="#" class="govuk-back-link">Back</a>

  <div class="govuk-main-wrapper">
      <span class="govuk-caption-xl">Academy of Medical Sciences	</span>
      <h1 class="govuk-heading-xl">Tracker review</h1>
      <p class="govuk-body-lead">Review and approve the data submitted by the delivery partner.</p>
      <!-- <a class="govuk-button" href="new-report.html">{create a new report}</a> -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="panel-blue">
            <div class="govuk-caption-m">Total spend</div>
            <div class="govuk-heading-l">£47,850</div>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="panel-blue">
            <div class="govuk-caption-m">Budget difference</div>
            <div class="govuk-heading-l"><span>-</span>£60,000</div>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          </br>
          </br>
  <div class="js-hidden" data-module="accordion-with-descriptions">
      <div class="subsection-wrapper">
          <div class="subsection js-subsection">
              <div class="subsection__header">
                  <h2 class="subsection__title">Nationally Appropriate Mitigating Actions Facility	</h2>
              </div>
              <div class="subsection__content js-subsection-content" id="subsection_content_0">
                <table class="govuk-table govuk-table--small projectReviewTable">

                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col" colspan="3"></th>
                      <th class="govuk-table__header" scope="col" colspan="3" style="text-align:center;">Cash/Actuals</th>
                      <th class="govuk-table__header" scope="col" colspan="2"></th>
                    </tr>
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col"><i class="fa fa-flag"></i></th>
                      <th class="govuk-table__header" scope="col">Activity</th>
                      <!-- <th class="govuk-table__header" scope="col">ID</th> -->
                      <th class="govuk-table__header" scope="col">Status</th>
                      <th class="govuk-table__header" scope="col">Last month</th>
                      <th class="govuk-table__header" scope="col">Current<span class="govuk-caption-s">Forecasted</span></th>
                      <th class="govuk-table__header" scope="col">Next month</th>
                      <th class="govuk-table__header" scope="col">Q2<span class="govuk-caption-s">Forecasted</span></th>
                      <th class="govuk-table__header" scope="col">Narrative</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row"><i class="far fa-flag"></i></td>
                      <td class="govuk-table__cell" scope="row">Nationally Appropriate Mitigating Actions Facility: Administration	</td>
                      <td class="govuk-table__cell" scope="row">Grey</td>
                      <td class="govuk-table__cell" scope="row">£47,500</td>
                      <td class="govuk-table__cell">£49,500<span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£50,000</td>
                      <td class="govuk-table__cell">£160,000<span class="govuk-caption-s">£160,000</span></td>
                      <td class="govuk-table__cell">This programme had a change in leadership which reduced cost of board expenditure</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row"><i class="far fa-flag"></i></td>
                      <td class="govuk-table__cell" scope="row">Phagen information campaign	</td>
                      <td class="govuk-table__cell" scope="row">Grey</td>
                      <td class="govuk-table__cell" scope="row"><span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£49,500<span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£50,000</td>
                      <td class="govuk-table__cell">£160,000<span class="govuk-caption-s">£160,000</span></td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row"><i class="far fa-flag"></i></td>
                      <td class="govuk-table__cell" scope="row">Malaria vacination delivery</td>
                      <td class="govuk-table__cell" scope="row">Grey</td>
                      <td class="govuk-table__cell" scope="row"><span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£49,500<span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£50,000</td>
                      <td class="govuk-table__cell">£160,000<span class="govuk-caption-s">£160,000</span></td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row"><i class="far fa-flag"></i></td>
                      <td class="govuk-table__cell" scope="row">Policy workshops and working group participation</td>
                      <td class="govuk-table__cell" scope="row">Grey</td>
                      <td class="govuk-table__cell" scope="row"><span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£49,500<span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£50,000</td>
                      <td class="govuk-table__cell">£160,000<span class="govuk-caption-s">£160,000</span></td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row"><i class="far fa-flag"></i></td>
                      <td class="govuk-table__cell" scope="row">Nutrient Delivery Systems: Kabi Freenasium</td>
                      <td class="govuk-table__cell" scope="row">Grey</td>
                      <td class="govuk-table__cell" scope="row"><span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£49,500<span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£50,000</td>
                      <td class="govuk-table__cell">£160,000<span class="govuk-caption-s">£160,000</span></td>
                      <td class="govuk-table__cell">Supply chain failure in Jan now being credited back to activity.</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row"><i class="far fa-flag"></i></td>
                      <td class="govuk-table__cell" scope="row">Wearable IoT heatlh initiative</td>
                      <td class="govuk-table__cell" scope="row">Grey</td>
                      <td class="govuk-table__cell" scope="row"><span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£49,500<span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£50,000</td>
                      <td class="govuk-table__cell">£160,000<span class="govuk-caption-s">£160,000</span></td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row"><i class="far fa-flag"></i></td>
                      <td class="govuk-table__cell" scope="row">Global poverty fund</td>
                      <td class="govuk-table__cell" scope="row">Grey</td>
                      <td class="govuk-table__cell" scope="row"><span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£49,500<span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£50,000</td>
                      <td class="govuk-table__cell">£160,000<span class="govuk-caption-s">£160,000</span></td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
          <div class="subsection js-subsection">
              <div class="subsection__header">
                  <h2 class="subsection__title">Forests Carbon Partnership Facility	</h2>
              </div>
              <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <table class="govuk-table govuk-table--small projectReviewTable">

                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col" colspan="3"></th>
                      <th class="govuk-table__header" scope="col" colspan="3" style="text-align:center;">Cash/Actuals</th>
                      <th class="govuk-table__header" scope="col" colspan="2"></th>
                    </tr>
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col"><i class="fa fa-flag"></i></th>
                      <th class="govuk-table__header" scope="col">Activity</th>
                      <!-- <th class="govuk-table__header" scope="col">ID</th> -->
                      <th class="govuk-table__header" scope="col">Status</th>
                      <th class="govuk-table__header" scope="col">Last month</th>
                      <th class="govuk-table__header" scope="col">Current<span class="govuk-caption-s">Forecasted</span></th>
                      <th class="govuk-table__header" scope="col">Next month</th>
                      <th class="govuk-table__header" scope="col">Q2<span class="govuk-caption-s">Forecasted</span></th>
                      <th class="govuk-table__header" scope="col">Narrative</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row"><i class="far fa-flag"></i></td>
                      <td class="govuk-table__cell" scope="row">Nationally Appropriate Mitigating Actions Facility: Administration	</td>
                      <td class="govuk-table__cell" scope="row">Grey</td>
                      <td class="govuk-table__cell" scope="row">£47,500</td>
                      <td class="govuk-table__cell">£49,500<span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£50,000</td>
                      <td class="govuk-table__cell">£160,000<span class="govuk-caption-s">£160,000</span></td>
                      <td class="govuk-table__cell">This programme had a change in leadership which reduced cost of board expenditure</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row"><i class="far fa-flag"></i></td>
                      <td class="govuk-table__cell" scope="row">Phagen information campaign	</td>
                      <td class="govuk-table__cell" scope="row">Grey</td>
                      <td class="govuk-table__cell" scope="row"><span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£49,500<span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£50,000</td>
                      <td class="govuk-table__cell">£160,000<span class="govuk-caption-s">£160,000</span></td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row"><i class="far fa-flag"></i></td>
                      <td class="govuk-table__cell" scope="row">Malaria vacination delivery</td>
                      <td class="govuk-table__cell" scope="row">Grey</td>
                      <td class="govuk-table__cell" scope="row"><span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£49,500<span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£50,000</td>
                      <td class="govuk-table__cell">£160,000<span class="govuk-caption-s">£160,000</span></td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row"><i class="far fa-flag"></i></td>
                      <td class="govuk-table__cell" scope="row">Policy workshops and working group participation</td>
                      <td class="govuk-table__cell" scope="row">Grey</td>
                      <td class="govuk-table__cell" scope="row"><span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£49,500<span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£50,000</td>
                      <td class="govuk-table__cell">£160,000<span class="govuk-caption-s">£160,000</span></td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row"><i class="far fa-flag"></i></td>
                      <td class="govuk-table__cell" scope="row">Nutrient Delivery Systems: Kabi Freenasium</td>
                      <td class="govuk-table__cell" scope="row">Grey</td>
                      <td class="govuk-table__cell" scope="row"><span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£49,500<span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£50,000</td>
                      <td class="govuk-table__cell">£160,000<span class="govuk-caption-s">£160,000</span></td>
                      <td class="govuk-table__cell">Supply chain failure in Jan now being credited back to activity.</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row"><i class="far fa-flag"></i></td>
                      <td class="govuk-table__cell" scope="row">Wearable IoT heatlh initiative</td>
                      <td class="govuk-table__cell" scope="row">Grey</td>
                      <td class="govuk-table__cell" scope="row"><span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£49,500<span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£50,000</td>
                      <td class="govuk-table__cell">£160,000<span class="govuk-caption-s">£160,000</span></td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row"><i class="far fa-flag"></i></td>
                      <td class="govuk-table__cell" scope="row">Global poverty fund</td>
                      <td class="govuk-table__cell" scope="row">Grey</td>
                      <td class="govuk-table__cell" scope="row"><span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£49,500<span class="govuk-caption-s">£55,000</span></td>
                      <td class="govuk-table__cell">£50,000</td>
                      <td class="govuk-table__cell">£160,000<span class="govuk-caption-s">£160,000</span></td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
      </div>
  </div>
  <br>
  <br>
  <a href="approve-user-journey" class="govuk-button">Complete review</a>

          </div>

    </div>
  </div>
</div>
{% endblock %}
