{% extends "layout.html" %}

{% block content %}

	{{ currentApp | log }}

	<main id="content">

	  <div class="grid-row">
	    <div class="column-two-thirds">

			<p><a href="/" class="link-back">Back</a></p>

			<h1 class="govuk-heading-xl">
				{{ currentApp.title }}
				<span class="govuk-caption-xl">Details of this prototype</span>
			</h1>

			{% block description %}
				<h2 class="govuk-heading-m">Description</h2>
				<p>This is the ODART prototype for alpha assessment.</p>
				<p>There are, currently, two main user groups; BEIS and delivery partners.
					<ul class="govuk-list govuk-list--bullet">
						<li>delivery partners submit financial data and activity data</li>
					<li>BEIS users QA and report on data submitted by delivery partners.</li>
				</p>
				<h3 class="govuk-heading-s">Before you start</h3>
				<p class="govuk-body">You will need:</p>
				<ul class="govuk-list govuk-list--bullet">
					<ul class="govuk-list govuk-list--bullet">
						<li>(For BEIS journeys) enter 'beis' as the email</li>
						<li>(For Delivery partner journeys) enter 'partner' as the email</li>
					</ul>
					<li>no password is required</li>
				</ul>
			{% endblock %}

			<br>

			<p><a href="{{ currentApp.urlPaths.appRoot | d('views/') }}views/" class="govuk-button govuk-button-start">Launch {{ (currentApp.title) if currentApp.title }} prototype</a></p>
			<!-- <a href="{{ currentApp.urlPaths.appSubRoute }}">Test link</a> -->

	    </div>
	  </div>


	</main>

{% endblock %}
