{% extends "layout.html" %}

{% block content %}
<section id="viewID" data-page-name="partnerActivityDetails">

<div class="govuk-grid-row" id="newton">
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Check your activity details before continuing</h1>

<h2 class="govuk-heading-m">Fund</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Fund
              </dt>
              <dd class="govuk-summary-list__value">
                Newton fund
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  <!-- Change<span class="govuk-visually-hidden"> name</span> -->
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Project
              </dt>
              <dd class="govuk-summary-list__value">
                Climate Investment Funds
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
          </dl>

<h2 class="govuk-heading-m">Activity</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Activity/Grant name
      </dt>
      <dd class="govuk-summary-list__value">
        Shoreline reinforcement
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> name</span>
        </a>
      </dd>
    </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Newton fund ID
              </dt>
              <dd class="govuk-summary-list__value">
                NT-3490-AB0990
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> Newton fund id</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your unique activity ID
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">PPO88-MR-19</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> unique activity ID</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Countries
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Morocco</p>
                <p class="govuk-body">Algeria</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> countries</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Pillar
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">People</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> countries</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Grey</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> status</span>
                </a>
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Dates</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Call open date
                </dt>
                <dd class="govuk-summary-list__value">
                  10 Jan 20
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> call open date</span>
                  </a>
                </dd>
              </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Call close date
                        </dt>
                        <dd class="govuk-summary-list__value">
                          10 Jan 2024
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> call close date</span>
                          </a>
                        </dd>
                      </div>

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Estimated grant start date
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">28 Jun 2019</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> unique activity ID</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Expected duration
                        </dt>
                        <dd class="govuk-summary-list__value">
                          52 months
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> duration</span>
                          </a>
                        </dd>
                      </div>
                    </dl>

                    <h2 class="govuk-heading-m">Funding details</h2>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Total application to UK
                        </dt>
                        <dd class="govuk-summary-list__value">
                          65
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> total application to UK</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Total awards by UK
                        </dt>
                        <dd class="govuk-summary-list__value">
                          5
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> total awards by UK</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Total applications to partner
                        </dt>
                        <dd class="govuk-summary-list__value">
                          20
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> total applications to partner</span>
                          </a>
                        </dd>
                      </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Total awards by partner
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  5
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> total awards by partner</span>
                                  </a>
                                </dd>
                              </div>

                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Partner resource committed
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <p class="govuk-body">£60,500.00</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> resources committed by partner</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Partner resource actual
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  £0.00
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> actual resouces spent by partner</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Match type
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Co-funding (cash)
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> actual resouces spent by partner</span>
                                  </a>
                                </dd>
                              </div>
                            </dl>

          <h2 class="govuk-heading-m">Now add ODA funding reports</h2>
          <p class="govuk-body">You can now assign funding to activities through the submit a tracker service.</p>
          <a href="../../index?state=newActivity" class="govuk-button">Submit project</a>
          <!-- <a href="#">Save and  -->

</div>
</div>
</section>
{% endblock %}
