{% extends "layout.html" %}

{% block content %}



  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <div class="hgroup">
            <h1 class="govuk-heading-xl">Review ODA financial data dashboard</h1>
            <p class="govuk-body-lead">Use this page to navigate to the goals you need to accomplish.</p>
          </div>
    </div>

   </div>
   <div class="govuk-grid-row">
     <div class="govuk-grid-column-one-third">
       <h2 class="govuk-heading-m">Programmes</h2>
       <ul class="govuk-list govuk-list--links">
         <li><a href="#">Add a programme</a>
         <li><a href="#">Programmes</a></li>
       </ul>
             <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
             <h2 class="govuk-heading-m">Trackers</h2>
             <p class="govuk-body">Review inbound financial trackers.</p>
             <ul class="govuk-list govuk-list--links">
               <li><a href="tracker-review/index">This period's financial trackers</a>
               <!-- <li><a href="#">Approve a tracker</a> -->
               <li><a href="trackers/">View previous submissions</a></li>
             </ul>
             <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
             <h2 class="govuk-heading-m">Reports</h2>
             <p class="govuk-body">Generate financial reports based on submitted tracker data</p>
             <ul class="govuk-list govuk-list--links">
               <li><a href="trackers/submit/start">Generate an IATI xml report</a>
               <li><a href="reports/index.html">View ODA reports</a>
               <!-- <li><a href="#">Approve a tracker</a> -->
             </ul>
     </div>

     <div class="govuk-grid-column-one-third">
             <h2 class="govuk-heading-m">Manage users</h2>
             <ul class="govuk-list govuk-list--links">
               <li><a href="#">Invite a new user</a></li>
               <li><a href="#">View existing users</a>
             </ul>
             <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
             <h2 class="govuk-heading-m">Manage delivery partners</h2>
             <ul class="govuk-list govuk-list--links">
               <li><a href="#">Create a new delivery partner account</a></li>
               <li><a href="#">View existing delivery partners</a>
             </ul>
       </div>
       <div class="govuk-grid-column-one-third panel-blue">
         <h3 class="govuk-heading-m">To do list</h3>
         <p class="govuk-body">Activies that need you attention</p>
         <ol class="govuk-list govuk-list--number">
           <li>Approve tracker data for Q2 2019</li>
           <li>Download IATI xml transparency report</li>
         </ol>
       </div>
     </div>

        </div>
{% endblock %}
