{% extends "layout.html" %}

{% block content %}



  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <div class="hgroup">
        <h1 class="govuk-heading-xl">
          Submit your ODA financial data
              </h1>
  <p>This service is for organisations that receive ODA funding.</p>
  <p>Use this service to:</p>

          <ul class="govuk-list govuk-list--bullet">
              <li>report cash spending on activities</li>
              <li>report forecast spending on activities</li>
              <li>report accruals on activites</li>
              <!--<li>your Companies House number - <a href="https://beta.companieshouse.gov.uk/search/" rel="external">find my Companies House number</a></li>-->
          </ul>
      </div>
    </div>

   </div>
   <div class="govuk-grid-row">
     <div class="column-full">
              <h3 class="govuk-heading-m">Sign in</h3>
             <form>
              <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                Email address
                </label>
                <input class="govuk-input govuk-!-width-one-half" id="email" name="email" type="text">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="password">
                Password
                </label>
                <input class="govuk-input govuk-!-width-one-half" id="password" name="password" type="text">
              </div>
             <div class="govuk-form-group">
             <a href="dashboard.html" class="govuk-button">Sign in</a>
             </div>
             </form>
             <h2 class="govuk-heading-s">Problems signing in?</h2>
             <ul class="govuk-list govuk-list--links">
             <li><a href="#">Forgotten your password?</a>
             </li>
             <li><a href="#">Reset your password?</a>
             </li>
             </ul>
         </div>
       </div>

        </div>
{% endblock %}
