{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">{activities}</h1>
    <p class="govuk-body-lead">{tell the user what this page does - manage and add new programmes, projects and grants to your organisation's reporting}</p>
    <a class="govuk-button" href="new-report.html">{create a new activity}</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


<table class="govuk-table govuk-table--small">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">{activity/call name}</th>
      <th class="govuk-table__header" scope="col">{unique nf}</th>
      <th class="govuk-table__header" scope="col">{dp unique id}</th>
      <th class="govuk-table__header" scope="col">{uk named contact}</th>
      <th class="govuk-table__header" scope="col">{expected duration}</th>
      <th class="govuk-table__header" scope="col">{call dates}</th>
      <th class="govuk-table__header" scope="col">{oda description key}</th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__cell" scope="row">{activityName}</th>
      <td class="govuk-table__cell" scope="row">{XDK-ASD}</td>
      <td class="govuk-table__cell" scope="row">{DPOSDF-234234}</td>
      <td class="govuk-table__cell">{Nancy Bakayoko}</td>
      <td class="govuk-table__cell">{24 months}</td>
      <td class="govuk-table__cell">{01/01/2017} - {31/10/2023}</td>
      <td class="govuk-table__cell">{D02}</td>
      <td class="govuk-table__cell"><a href="#">Details</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell" scope="row">{activityName}</th>
      <td class="govuk-table__cell" scope="row">{XDK-ASD}</td>
      <td class="govuk-table__cell" scope="row">{DPOSDF-234234}</td>
      <td class="govuk-table__cell">{Nancy Bakayoko}</td>
      <td class="govuk-table__cell">{24 months}</td>
      <td class="govuk-table__cell">{01/01/2017} - {31/10/2023}</td>
      <td class="govuk-table__cell">{D02}</td>
      <td class="govuk-table__cell"><a href="#">Details</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell" scope="row">{activityName}</th>
      <td class="govuk-table__cell" scope="row">{XDK-ASD}</td>
      <td class="govuk-table__cell" scope="row">{DPOSDF-234234}</td>
      <td class="govuk-table__cell">{Nancy Bakayoko}</td>
      <td class="govuk-table__cell">{24 months}</td>
      <td class="govuk-table__cell">{01/01/2017} - {31/10/2023}</td>
      <td class="govuk-table__cell">{D02}</td>
      <td class="govuk-table__cell"><a href="#">Details</a></td>
    </tr>


  </tbody>
</table>

<div class="govuk-pagination--container hide">
  <ul class="govuk-pagination--pages">
    <li class="govuk-pagination--back"><</li>
    <li class="govuk-pagination--page govuk-pagination--page--active">1</li>
    <li class="govuk-pagination--page"><a href="#">2</a></li>
    <li class="govuk-pagination--page"><a href="#">3</a></li>
    <li class="govuk-pagination--forward"><a href="#">></a></li>
  </ul>
</div>

        </div>

  </main>
</div>
{% endblock %}
