{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <span class="govuk-caption-xl">{Delivery Partner name}</span>
    <h1 class="govuk-heading-xl">{add tracker feedback}</h1>
    <p class="govuk-body-lead">{tell the user to add notes to message back the dp why the tracker is being returned}</p>
    <!-- <a class="govuk-button" href="new-report.html">{create a new report}</a> -->

<section>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <dl class="govuk-list govuk-definition-list">
          <dt>{grant}</dt>
          <dd>{grantName}</dd>
          <dt>{grant id}</dt>
          <dd>{id-xaut-1209}</dd>
          <dt>{actual}</dt>
          <dd>£999,999</dd>
          <dt>{budget-difference}</dt>
          <dd>£999,999</dd>
          <dt>{forcast}</dt>
          <dd>{q1},{q2},{q3}</dd>
          <dt>{narrative}</dt>
          <dd>{dp-narrative-lorem-ipsum-slipsum-whipsome-words-on-a-shirt-that-nobody-will-read}</dd>
        </dl>

      </div>
      <div class="govuk-grid-column-one-half">
        <form>
          <div class="govuk-form-group word-count">
            <label class="govuk-label" for="more-detail">
              Provide feedback
            </label>
            <textarea class="govuk-textarea" type="text" id="wordlimit" data-max-length-in-words="5"></textarea>
            <span class="sfa-form-control-after" id="#charlimit">
              <span class="words-left govuk-body">5</span>
            </span>
          </div>
          </form>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</section>

<section>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <dl class="govuk-list govuk-definition-list">
          <dt>{grant}</dt>
          <dd>{grantName}</dd>
          <dt>{grant id}</dt>
          <dd>{id-xaut-1209}</dd>
          <dt>{actual}</dt>
          <dd>£999,999</dd>
          <dt>{budget-difference}</dt>
          <dd>£999,999</dd>
          <dt>{forcast}</dt>
          <dd>{q1},{q2},{q3}</dd>
          <dt>{narrative}</dt>
          <dd>{dp-narrative-lorem-ipsum-slipsum-whipsome-words-on-a-shirt-that-nobody-will-read}</dd>
        </dl>

      </div>
      <div class="govuk-grid-column-one-half">
        <form>
          <div class="govuk-form-group word-count">
            <label class="govuk-label" for="more-detail">
              Provide feedback
            </label>
            <textarea class="govuk-textarea" type="text" id="wordlimit" data-max-length-in-words="5"></textarea>
            <span class="sfa-form-control-after" id="#charlimit">
              <span class="words-left govuk-body">5</span>
            </span>
          </div>
          </form>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</section>

<section>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <dl class="govuk-list govuk-definition-list">
          <dt>{grant}</dt>
          <dd>{grantName}</dd>
          <dt>{grant id}</dt>
          <dd>{id-xaut-1209}</dd>
          <dt>{actual}</dt>
          <dd>£999,999</dd>
          <dt>{budget-difference}</dt>
          <dd>£999,999</dd>
          <dt>{forcast}</dt>
          <dd>{q1},{q2},{q3}</dd>
          <dt>{narrative}</dt>
          <dd>{dp-narrative-lorem-ipsum-slipsum-whipsome-words-on-a-shirt-that-nobody-will-read}</dd>
        </dl>

      </div>
      <div class="govuk-grid-column-one-half">
        <form>
          <div class="govuk-form-group word-count">
            <label class="govuk-label" for="more-detail">
              Provide feedback
            </label>
            <textarea class="govuk-textarea" type="text" id="wordlimit" data-max-length-in-words="5"></textarea>
            <span class="sfa-form-control-after" id="#charlimit">
              <span class="words-left govuk-body">5</span>
            </span>
          </div>
          </form>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</section>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

<a href="#" class="govuk-button">{Return tracker to DP}</a><a href="#" class="govuk-button govuk-button-text">go back</a>

        </div>

  </main>
</div>
{% endblock %}
