{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-heading-xl">{Review activity}</h1>
        <p class="govuk-body-lead">{add details of your activity}</p>
      </legend>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Activity/Call name}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Activity/Call name}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Unique NF ID}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Unique NF ID}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> date of birth</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {DP unique ID}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {DP unique ID}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact information</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Country}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Country}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Pillar}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Pillar}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Status}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Status}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {ODA description key}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {ODA description key}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Short description}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Short description}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Aims}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Aims}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {DP 'brand'}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {DP 'brand'}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Other UK DPs}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Other UK DPs}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {In-Country Partner DPs}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {In-Country Partner DPs}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {UK named contact}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {UK named contact}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Call open date}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Call open date}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Call close date}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Call close date}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Estimated grant start date}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Estimated grant start date}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Expected duration}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Expected duration}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Total application to UK}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Total application to UK}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Total awards by UK}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Total awards by UK}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Total applications to partner}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Total applications to partner}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Total awards by partners}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Total awards by partners}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Partner Resource Committed (£)}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Partner Resource Committed (£)}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Match type}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {Match type}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {Equivalence Note}
                  </dt>
                  <dd class="govuk-summary-list__value">
{Equivalence Note}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                  </dd>
                </div>
              </dl>



    <a class="govuk-button" href="new-report.html">Save</a>
    <a class="govuk-button govuk-button--link" href="new-report.html">Save and add another</a>
</div>
</div>

  </main>
</div>
{% endblock %}
