{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">{add a new programme}</h1>
    <p class="govuk-body-lead">{tell the user this transaction lets them add new programmes}</p>
    <h2 class="govuk-heading-m">You will need</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Programme information</li>
      <li>Information about grants (optional)</li>
    </ul>
    <a class="govuk-button govuk-button--start" href="new-report.html">Start\</a>


  </main>
</div>
{% endblock %}
