{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Submit ODA financial data</h1>
          <p class="govuk-body-lead">Use this service to report your ODA financial data to BEIS.</p>
        <h2 class="govuk-heading-m">Before you start</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>make </li>
          <ul>
            <li>cash figures</li>
            <li>cash forecast for the next quarter</li>
            <li>accrual for the next quarter</li>
            </ul>
        </ul>

        <h2 class="govuk-heading-m">What you need</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>have the activity data you need to report on:</li>
          <ul>
            <li>cash figures</li>
            <li>cash forecast for the next quarter</li>
            <li>accrual for the next quarter</li>
            </ul>
        </ul>

        <a href="input.html" class="govuk-button govuk-button--start">Start</a>
        </div>
  </div>
  {% endblock %}
