{% extends "layout.html" %}

{% block content %}

	{{ currentApp | log }}

	<main id="content">

	  <div class="grid-row">
	    <div class="column-two-thirds">

			<p><a href="/" class="link-back">Back</a></p>

			<h1 class="govuk-heading-xl">
				{{ currentApp.title }}
				<span class="govuk-caption-xl">Details of this prototype</span>
			</h1>

			{% block description %}
				<h2 class="govuk-heading-m">Description</h2>
				<p>This is a click through prototype of the delivery partner experience.</p>

			{% endblock %}

			<br>

			<p><a href="{{ currentApp.startURL | d('views/') }}" class="govuk-button govuk-button-start">Launch {{ (currentApp.title) if currentApp.title }} prototype</a></p>
			<!-- <a href="{{ currentApp.urlPaths.appSubRoute }}">Test link</a> -->

	    </div>
	  </div>


	</main>

{% endblock %}
