// the global prototyping styles get imported
// see: app/assets/sass/_global-styles.scss


* {
    box-sizing: border-box;
}

.hide {
  display: none;
}
/*----- variables -------*/

$govuk-blue: #005ea5;
$govuk-white: #fff;
$govuk-orange: #f47738;
$govuk-red: #b10e1e;
$govuk-grey-1: #6f777b;
$govuk-grey-2: #bfc1c3;
$govuk-grey-3: #dee0e2;
$govuk-grey-4: #f8f8f8;


.panel-blue {
  background: $govuk-blue;
  color: $govuk-white;
  a, p, h1, h2, h3, h4, h5, h6, ul, ol, .govuk-heading-xl, .govuk-caption-m {
    color: $govuk-white;
  }
  .govuk-heading-xl, .govuk-caption-m {
    color: $govuk-white;
  }
}


.app-help-panel {
  background:  #005ea5;
  padding: 20px 20px 0 20px;
  a, p, h1, h2, h3, h4, h5, h6, ul, ol {
    color: white;
    &.govuk-button--secondary {
      background: white;
      color: #005ea5;
      border-bottom-color: #f8f8f8;
    }
  }
}

.flex-center {
  height: calc(80vh - 600px);
  display: flex;
  align-items: center;
  justify-content: center;
}


/*----- inline table errors page -------*/

.govuk-error__cell {
  // border-left: 5px solid $govuk-red;
  box-shadow:-10px 0px 0px 0px mix($govuk-white,$govuk-red,90%), -15px 0px 0px 0px $govuk-red;
  // border-right: 5px solid $govuk-white;
  background: mix($govuk-white,$govuk-red,90%);
  padding-left: 0px;
  div {
    color: $govuk-red;
    font-weight: 900;
  }
}

/*----- pagination -------*/

.govuk-pagination--container {
  .govuk-pagination--pages {
    list-style: none;
    display: block;
    float: left;
    width: 100%;
    overflow: auto;
    margin: 0 0 30px 0;
    padding: 0;
    li {
      font-family: "nta", arial, sans-serif;
      color: $govuk-grey-2;
      display: inline-block;
      float: left;
      padding: 10px 15px;
      margin-right: 5px;
      background: $govuk-grey-4;
      a {
        text-decoration: none;
      }
      &:hover {
        background: $govuk-grey-2
      }
    }
  }
}

/*----- buttons -------*/

.govuk-button--link {
  background: none;
  text-decoration: underline;
  box-shadow: none;
  &:hover {
    background: rgba(255,255,255,0.2);
  }
}

/*----- logic page -------*/

.logicPage {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 16px);
}
