{% extends "layout-subapp.html" %}

{% block content %}

<section id="viewID" class="govuk-width-container" data-page-name="trackerSubmitJourneyLogic">

    <a href="#" class="govuk-back-link">Back</a>


    <h1 class="govuk-heading-l">Report financial data</h1>


              <form>
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-heading-m">
                    Choose how to submit financial data?
                  </h1>
                </legend>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live-1" name="choose-journey" type="radio" value="upload">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                      upload a financial tracker spreadsheet
                    </label> </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live-2" name="choose-journey" type="radio" value="online">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                      use the online submission service
                    </label> </div>

                </div>
              </fieldset>
              </form>
              <br>
              <br>
              <div class="govuk-form-group">
              <a href="file-upload/start.html" class="govuk-button">Continue</a>
              </div>

</section>


{% endblock %}
