{% extends "layout-subapp.html" %}
{% block content %}
<section id="viewID" data-page-name="beisDashboard">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <div class="hgroup">
            <h1 class="govuk-heading-xl">Home</h1>
            <p class="govuk-body">Use this page to navigate towards tasks you need to complete.</p>
          </div>
    </div>
   </div>

   <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
       <section>
       <h2 class="govuk-heading-l"><a href="trackers/index">Trackers</a></h2>
       <p class="govuk-body">Open, review and feedback on delivery partner submissions.</p>
       </section>
       <section>
       <h2 class="govuk-heading-l"><a href="#">Reporting</a></h2>
       <p class="govuk-body">Run a selection of standard reports or create your own.</p>
       </section>
     </div>
     <div class="govuk-grid-column-one-third panel-blue">
       <h3 class="govuk-heading-m">To do list</h3>
       <p class="govuk-body">Actions reported by the service that need your attention.</p>
       <ol class="govuk-list govuk-list--number">
         <li><a href="#">Review new tracker.</a></li>
         <li><a href="#">Review project changes.</a></li>
         <li><a href="#">Chase missing trackers</a></li>
         <li><a href="#">Approve trackers</a></li>
         <li><a href="#">The IATI report needs to be submitted by 25 June 19.</a></li>
       </ol>
     </div>
   </div>
   <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
     <h3 class="govuk-heading-m">Administration</h3>
     <section>
     <h2 class="govuk-heading-s"><a href="#">Delivery partner account settings</a></h2>
     <p class="govuk-body">Configure and update delivery partner accounts. Invite delivery partner users into the service.</p>
     </section>

     <section>
     <h2 class="govuk-heading-s"><a href="#">General administration</a></h2>
     <p class="govuk-body">Manage the service's settings.</p>
     </section>
     </div>
   </div>
</section>
{% endblock %}
