{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">Time to submit your tracker</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body-lead">Agnes, </p>
          <p class="govuk-body">Your tracker submission to BEIS is due on the 28th. Please <a href="#">download the latest tracker</a> to populate your financial data.</p>
          <p class="govuk-body">https://odart.beis.gov.uk/trackers/latest/</p> 
        </div>
  </main>
</div>
{% endblock %}
