{% extends "layout-subapp.html" %}

{% block content %}
<section class="govuk-width-container" data-page-name="trackerSubmitJourneyLogic">

    <a href="#" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Upload financial tracker spreadsheet</h1>
</div>
</div>
<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">You will need:</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>review the latest guidance on how to complete the spreadsheet</li>
          <li>download your up to date financial tracker spreadsheet</li>
          <li>populate the spreadsheet with your data</li>
          <li>submit the spreadsheet to this service</li>
        </ul>
  <!-- <a href="/public/images/docs/oda-tracker-01-08052019.xlsx" class="govuk-button govuk-button--secondary">Download your Q2 financial tracker spreadsheet</a> -->
  <a class="govuk-button" href="guidance">Continue</a>
        </div>
        </div>

  </section>
  {% endblock %}
