{% extends "layout.html" %}

{% block content %}

<section class="govuk-width-container" data-page-name="partnerTrackerStart">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Report financial data</h1>

        <h3 class="govuk-heading-l">What you need:</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>all activities you wish to report on must already appear in the <a href="#">activities</a> list.
            <ul><li>Ask a <a href="#">colleague with activity management permissions</a> to add these for you.</li></ul></li>
          <li>Actual cash and accrual figures for:
            <ul>
              <li>this quarter</li>
              <li>next quarter</li>
            </ul>
          </li>
          <li>Forecast cash and accrual figures for each quarter an activity is projected to run for.</li>
        </ul>

        <a href="input.html" class="govuk-button govuk-button--start">Start</a>
        </div>
  </div>

        </main>
</section>


{% endblock %}
