{% extends "layout.html" %}

{% block content %}

<section class="govuk-width-container" data-page-name="partnerTrackerStart">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Update activity financial data</h1>
          <p class="govuk-body-lead">Use this service to report your ODA financial data to BEIS.</p>
        <p class="govuk-body">change me</p>
        <h3 class="govuk-heading-l">What you need</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
        <p class="govuk-body">programme data activity information, speak to your Programme Manager if an activity is not listed.</p>
        </li>
        </ul>

        <a href="input.html" class="govuk-button govuk-button--start">Start</a>
        </div>
  </div>

        </main>
</section>


{% endblock %}
