{% extends "layout.html" %}

{% block content %}

	{{ currentApp | log }}

	<main id="content">

	  <div class="grid-row">
	    <div class="column-two-thirds">

			<p><a href="/" class="link-back">Back</a></p>

			<h1 class="govuk-heading-xl">
				{{ currentApp.title }}
				<span class="govuk-caption-xl">Details of this prototype</span>
			</h1>

			{% block description %}
				<h2 class="govuk-heading-m">Description</h2>
				<p>This is a prototype based on the first round of feedback from the user testing. It now combines all users into a single application. To access the correct UI you will need to login using a beis.gov.uk email for BEIS UIs and any other email for delivery partners.</p>
			{% endblock %}

			<br>

			<p><a href="{{ currentApp.urlPaths.appRoot | d('views/') }}views/" class="govuk-button govuk-button-start">Launch {{ (currentApp.title) if currentApp.title }} prototype</a></p>
			<!-- <a href="{{ currentApp.urlPaths.appSubRoute }}">Test link</a> -->

	    </div>
	  </div>


	</main>

{% endblock %}
