{% extends "layout-subapp.html" %}
{% block content %}
<section id="viewID" data-page-name="biesReporting">

<div class="govuk-grid-row">
<aside class="govuk-grid-column-one-third aside">
  <div class="hgroup">
   <h2 class="govuk-heading-xl">Forecasts</h2>
      <p>TELL USERS THIS IS TO VIEW AND CREATE FORECASTS TELL USERS THIS IS TO VIEW AND CREATE FORECASTS TELL USERS THIS IS TO VIEW AND CREATE FORECASTS</p>
   <a class="button" href="start.html">Create a new forecast</a>
  </div>

  <div class="related">
    <h2 class="heading-medium">Manage existing forecasts</h2>
    <div data-module="accordion-with-descriptions" class="js-accordion-with-descriptions"><div class="subsection-controls js-subsection-controls"><button aria-expanded="false" aria-controls="subsection_content_0 subsection_content_1 subsection_content_2 ">Open all</button></div>
      <div class="subsection-wrapper">
          <div class="subsection js-subsection">
              <div class="subsection__header">
                  <h2 class="subsection__title"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_0">forecast 301017 16:14</button></h2>
                  <p class="subsection__description">Last updated: 30 October 2017</p>
              <span class="subsection__icon"></span>
            </div>
              <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
                  <ul class="subsection__list">
                      <li class="subsection__list-item">
                           <a href="#1">Present forecast</a>
                      </li>
                      <li class="subsection__list-item">
                           <a href="#1">Export data</a>
                      </li>

                      <li class="subsection__list-item">
                           <a href="#1">Rename forecast</a>
                      </li>
                       <li class="subsection__list-item">
                           <a href="#1">Share forecast</a>
                      </li>
                      <li class="subsection__list-item">
                           <a href="#1">Delete forecast</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
  </div>
</aside>

<div class="govuk-grid-column-two-thirds main">
        <div class="hgroup form-group">
           <h1 class="govuk-heading-xl">
               forecast 301017 16:14
            </h1>
        </div>
</div>
</div>
  </section>
  {% endblock %}
