{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <div class="govuk-panel govuk-panel--confirmation">
<h1 class="govuk-panel__title">
  Activity added
</h1>
<div class="govuk-panel__body">
  Your activity ID<br><strong>HDJ2123F</strong>
</div>
</div>
  <p class="govuk-body-lead">You can now report financial data against this activity</p>
    <h1 class="govuk-heading-xl">
      What would you like to do next?
    </h1>
    <ul class="govuk-list">
      <li><a href="index.html">add another activity</a></li>
      <li><a href="../../details.html">view added activities for this programme</a></li>
      <li><a href="../../index.html">go back to all programmes</a></li>
    </ul>
</div>
</div>

  </main>
</div>
{% endblock %}
