{% extends "layout-subapp.html" %}

{% block content %}

<section id="viewID" data-page-name="submitDataTable">


<div class="govuk-grid-row">
<aside class="govuk-grid-column-one-third aside">
  <a href="#" class="govuk-back-link">Back</a>

  <p class="govuk-body">This document automatically saves as you make changes</p>
  <div class="panel-blue">
          <div class="govuk-caption-m">Last saved</div>
          <div class="govuk-heading-s"><span>3</span> seconds ago</div>
       </div>
       <br />
       <h3 class="govuk-heading-s">Filter trackers</h3>
       <form>
         <fieldset class="govuk-fieldset">
           <div class="govuk-grid-row">
             <div class="govuk-grid-column-full">
               <div class="govuk-form-group">
               <label class="govuk-label" for="address-line-1">
                 Fund
               </label>
               <select id="select-fund" class="selectized" placeholder="Select a fund..." tabindex="-1" style="display: none;"><option value="All" selected="selected">All</option></select><div class="selectize-control selectized single"><div class="selectize-input items full has-options has-items"><div class="item" data-value="All">All</div><input type="select-one" autocomplete="off" tabindex="-1" id="select-fund-selectized" style="width: 4px;"></div><div class="selectize-dropdown single selectized" style="display: none; width: 299.984px; top: 40px; left: 0px;"><div class="selectize-dropdown-content"></div></div></div>
               </div>
             </div>
             <div class="govuk-grid-column-full">
               <div class="govuk-form-group">
               <label class="govuk-label" for="address-line-1">
                 Status
               </label>
               <select id="select-status" class="selectized" placeholder="Select a fund..." tabindex="-1" style="display: none;"><option value="All" selected="selected">All</option></select><div class="selectize-control selectized single"><div class="selectize-input items full has-options has-items"><div class="item" data-value="All">All</div><input type="select-one" autocomplete="off" tabindex="-1" id="select-status-selectized" style="width: 4px;"></div><div class="selectize-dropdown single selectized" style="display: none; width: 299.984px; top: 40px; left: 0px;"><div class="selectize-dropdown-content"></div></div></div>
               </div>
             </div>
           </div>

               <button class="sr-only govuk-button govuk-button--secondary">Update</button>
         </fieldset>
       </form>

</aside>
<div class="govuk-grid-column-two-thirds main">
  <h1 class="govuk-heading-xl">Update financial tracker data</h1>
  <p class="govuk-body-lead">Complete each programme's spreadsheet.</p>
  <div class="js-accordion-with-descriptions" data-module="accordion-with-descriptions"><div class="subsection-controls js-subsection-controls"><button aria-expanded="false" aria-controls="subsection_content_0 subsection_content_1 ">Open all</button></div>
            <div class="subsection-wrapper">
              <div class="js-subsection subsection subsection--is-open">
                <div class="subsection__header">
                  <h2 class="subsection__title">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_0">Climate Investment Fund</button>
                  </h2>
                  <!-- <p class="subsection__description">Short sentence describing category.</p> -->
                <span class="subsection__icon"></span></div>
                <div class="subsection__content js-subsection-content js-hidden activity-table" id="subsection_content_0" style="">
                  <div id="jexcel-0"></div>

                  <!-- <a class="govuk-button govuk-button--secondary" href="activity/add/index">Add an activity</a> -->
                </div>
              </div>
              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_0">Forestry investigation fund</button>
                  </h2>
                  <!-- <p class="subsection__description">Short sentence describing category.</p> -->
                <span class="subsection__icon"></span></div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0" style="display: none;">
                  <div id="jexcel-1">spreadsheet 1</div>

                </div>
              </div>
            </div>
          </div>
</div>
</div>



</section>
{% endblock %}
