{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-heading-xl">Add an activity</h1>
        <p class="govuk-body-lead">Add non financial details of your activity</p>
      </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-2">
          Activity/Call name
        </label>
        <input class="govuk-input" id="address-line-2" name="address-line-2" type="text">
      </div>

      <div class="govuk-form-group">

      <label class="govuk-label" for="address-line-1">
        Unique NF ID
      </label>
      <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-1">
        DP unique ID
      </label>
      <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-1">
        Country
      </label>
      <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-1">
        Pillar
      </label>
      <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
    </div>



      <div class="govuk-form-group">
        <label class="govuk-label" for="address-town">
          Status
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
      </div>

      <div class="govuk-form-group">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              ODA description key
            </label>
            <input class="govuk-input govuk-date-input__input" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Short description
            </label>
            <input class="govuk-input govuk-date-input__input" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
          </div>
        </div>
      </div>
      <div class="govuk-form-group">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Aims
            </label>
            <input class="govuk-input govuk-date-input__input" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              DP 'brand'
            </label>
            <input class="govuk-input govuk-date-input__input" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Other UK DPs
            </label>
            <input class="govuk-input govuk-date-input__input" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              In-Country Partner DPs
            </label>
            <input class="govuk-input govuk-date-input__input" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              UK named contact
            </label>
            <input class="govuk-input govuk-date-input__input" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-county">
          Call open date
        </label>
        <div class="govuk-date-input__item">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
      Day
    </label>
    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
  </div>
</div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-county">
          Call close date
        </label>
        <div class="govuk-date-input__item">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
      Day
    </label>
    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
  </div>
</div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-county">
          Estimated grant start date
        </label>
        <div class="govuk-date-input__item">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
      Day
    </label>
    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
  </div>
</div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Expected duration
        </label>
        <input class="govuk-input" id="address-postcode" name="address-postcode" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Total application to UK
        </label>
        <input class="govuk-input" id="address-postcode" name="address-postcode" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Total awards by UK
        </label>
        <input class="govuk-input" id="address-postcode" name="address-postcode" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Total applications to partner
        </label>
        <input class="govuk-input" id="address-postcode" name="address-postcode" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Total awards by partners
        </label>
        <input class="govuk-input" id="address-postcode" name="address-postcode" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Partner Resource Committed (£)
        </label>
        <input class="govuk-input" id="address-postcode" name="address-postcode" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Partner Resource Actual (£)
        </label>
        <input class="govuk-input" id="address-postcode" name="address-postcode" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Match type
        </label>
        <input class="govuk-input" id="address-postcode" name="address-postcode" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Equivalence Note
        </label>
        <textarea rows="8" cols="80" class="govuk-textarea" id="address-postcode" name="address-postcode" type="text"></textarea>
      </div>
    </fieldset>


    <a class="govuk-button" href="success.html">Continue</a>
</div>
</div>

  </main>
</div>
{% endblock %}
