// the global prototyping styles get imported
// see: app/assets/sass/_global-styles.scss


* {
    box-sizing: border-box;
}

.hide {
  display: none;
}
/*----- variables -------*/

$govuk-blue: #005ea5;
$govuk-white: #fff;
$govuk-orange: #f47738;
$govuk-red: #b10e1e;


.panel-blue {
  background: $govuk-blue;
  a, p, h1, h2, h3, h4, h5, h6, ul, ol {
    color: $govuk-white;
  }
}


.app-help-panel {
  background:  #005ea5;
  padding: 20px 20px 0 20px;
  a, p, h1, h2, h3, h4, h5, h6, ul, ol {
    color: white;
    &.govuk-button--secondary {
      background: white;
      color: #005ea5;
      border-bottom-color: #f8f8f8;
    }
  }
}

.flex-center {
  height: calc(80vh - 600px);
  display: flex;
  align-items: center;
  justify-content: center;
}


/*----- inline table errors page -------*/

.govuk-error__cell {
  // border-left: 5px solid $govuk-red;
  box-shadow:-10px 0px 0px 0px mix($govuk-white,$govuk-red,90%), -15px 0px 0px 0px $govuk-red;
  // border-right: 5px solid $govuk-white;
  background: mix($govuk-white,$govuk-red,90%);
  padding-left: 0px;
  div {
    color: $govuk-red;
    font-weight: 900;
  }
}

/*----- logic page -------*/

.logicPage {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 16px);
}
