{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            {Tracker approved}
          </h1>
          <div class="govuk-panel__body">
            {Delivery partner name} tracker transaction id
          </div>
        </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-lead">
      This delivery partner's tracker data will now be incoporated into the reporting data store.
    </p>
  </div>
</div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        {What next?}
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name-1">
          {back to dashboard}
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          {review another tracker}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          {provide feedback}
        </label>
      </div>
    </div>
  </fieldset>
</div>
<a href="#" class="govuk-button">{Return tracker to DP}</a><a href="#" class="govuk-button govuk-button-text">go back</a>

        </div>

  </main>
</div>
{% endblock %}
