{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">Add a programme</h1>
    <p class="govuk-body-lead">Add details about a programme in order to subsequently add activities to report against.</p>
    <h2 class="govuk-heading-m">You will need</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>details of your programme</li>
      <li>a unique ID for your programme</li>
    </ul>
    <a class="govuk-button govuk-button--start" href="index">Start</a>


  </main>
</div>
{% endblock %}
