
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        BEIS ODART
        <span class="govuk-caption-xl">Alpha prototypes</span>
      </h1>{{releaseVersion | log }}
      <p class="govuk-body-l">
        A collection of prototypes designed to (in)validate early design solutions.
      </p>


      <h2 class="govuk-heading-m">Prototypes</h2>

    <p>All prototypes are subject to change without notice. Please liaise with the Interaction Designer for more details.</p>
    {{ macros.subapps_list(apps) }}


    </div>
</div>


{% endblock %}
