{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">Programmes and activities</h1>
    <p class="govuk-body-lead">Manage and add new programmes and activities to your organisation's report</p>
    <a class="govuk-button" href="add/start.html">Add a programme</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


<table class="govuk-table govuk-table--small">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Programme name</th>
      <th class="govuk-table__header" scope="col">Programme ID</th>
      <th class="govuk-table__header" scope="col">Fund</th>
      <th class="govuk-table__header" scope="col">Status</th>
      <th class="govuk-table__header" scope="col">Budet</th>
      <th class="govuk-table__header" scope="col">Dates</th>
      <!-- <th class="govuk-table__header" scope="col">Narrative</th> -->
      <th class="govuk-table__header" scope="col">Activity count</th>
      <th class="govuk-table__header" scope="col">Principal investigator</th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__cell" scope="row">Climate Investment Funds</th>
      <td class="govuk-table__cell" scope="row">GB-GOV-13-91116</td>
      <td class="govuk-table__cell" scope="row">Newton</td>
      <td class="govuk-table__cell">Live</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£2,500,000</td>
      <td class="govuk-table__cell">01 Jan 2018 - 31 Oct 2020</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">15</td>
      <!-- <td class="govuk-table__cell">Multilateral World Bank-administered funds to help developing countries pilot low-carbon, climate-resilient pathways. This is funded by both the Department for International Development and the Department of Enegry and Climate Change (DECC). This refers only to the DECC spend.</td> -->
      <td class="govuk-table__cell">Kai Moon</td>
      <td class="govuk-table__cell"><a href="details.html">Details</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__cell" scope="row">Climate Investment Funds</th>
      <td class="govuk-table__cell" scope="row">GB-GOV-13-91116</td>
      <td class="govuk-table__cell" scope="row">Newton</td>
      <td class="govuk-table__cell">Live</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£2,500,000</td>
      <td class="govuk-table__cell">01 Jan 2018 - 31 Oct 2020</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">15</td>
      <!-- <td class="govuk-table__cell">Multilateral World Bank-administered funds to help developing countries pilot low-carbon, climate-resilient pathways. This is funded by both the Department for International Development and the Department of Enegry and Climate Change (DECC). This refers only to the DECC spend.</td> -->
      <td class="govuk-table__cell">Dr Jeung-Lee</td>
      <td class="govuk-table__cell"><a href="details.html">Details</a></td>
    </tr>
  </tbody>
</table>

<div class="govuk-pagination--container hide">
  <ul class="govuk-pagination--pages">
    <li class="govuk-pagination--back"><</li>
    <li class="govuk-pagination--page govuk-pagination--page--active">1</li>
    <li class="govuk-pagination--page"><a href="#">2</a></li>
    <li class="govuk-pagination--page"><a href="#">3</a></li>
    <li class="govuk-pagination--forward"><a href="#">></a></li>
  </ul>
</div>

        </div>

  </main>
</div>
{% endblock %}
